<div class="row">
  <div class="">
      <input name="amount" id="amount" [value]="" type="number">
      <select  ng-options="item for item in ctrl.transactionOptions"></select>
      <input value="" name="transfer" id="transfer" value="Make Transaction" type="button" (click)="$ctrl.makeTransaction();">
  </div>
  <div class="">
      <h1 class="errorMessage" *ngIf="message != ''">
          {{message}}
      </h1>
      <h1 class="successMessage" *ngIf="successMessage!=''">
          {{successMessage}}
      </h1>
  </div>
</div>
