<div class="">
  <div>
      <select ng-model="selectedPair" ng-options="c for c in $ctrl.pairsOptions"></select>
      <br>
      <input type="number" ng-model="ratio" />
      <br>
      <input type="button" value="Exchange" (click)="makeExchange();" />
  </div>
  <div class="">
      <h1 class="errorMessage" *ngIf="message != ''">
          {{message}}
      </h1>
      <h1 class="successMessage" *ngIf="successMessage!=''">
          {{successMessage}}
      </h1>
  </div>
  <div class=" ">
    <span>Currencies</span>
    <table>
      <thead>
        <td>from</td>
        <td>to</td>
        <td>ratio</td>
      </thead>
      <tr *ngFor="let item of allExchanges">
        <td>{{item.from}}</td>
        <td>{{item.to}}</td>
        <td>{{item.ratio}}</td>
      </tr>
    </table>
  </div>
</div>
